/* GENERAL */
ul,li{margin:0;padding:0;}
html {height: 100%;}
body{font-family: "Proxima Nova","ProximaNova-Light",\5FAE\8F6F\96C5\9ED1,'Nunito', myriad pro, tahoma, sans-serif; background:url(../images/whmcs-city-bg.jpg) no-repeat top center;}
.pl{float: left;}
.pr{float: right}
.bgf{background: #fff}
h1,h2,h3,h4,h5,h6{font-family:"Proxima Nova","ProximaNova-Light",\5FAE\8F6F\96C5\9ED1,'Nunito', myriad pro, tahoma, sans-serif;font-weight:normal;color:#666;}
.alert-white{background-color: #fefefe;border-color: #e26148;border: 1px solid #e3e3e3;}
.alert-danger{background-color:#ebeef2;}
.alert-warning{color:#ff9500;background-color:#eeeef2;border-color:#ddd;}
.primary-color{color:#5496dc;}
.well{background-color:#fefefe;-webkit-box-shadow:0 0 3px #fff;-moz-box-shadow:0 0 3px #fff;box-shadow:0 0 3px #fff;border-radius:3px;}
blockquote.page-information{border-left:5px solid #475B65;background:#f9f9f9;-webkit-transition:500ms ease;-moz-transition:500ms ease;-o-transition:500ms ease;-ms-transition:500ms ease;transition:500ms ease;margin:0 0 20px;padding:10px 20px;}
blockquote.page-information p{font-size:14px;font-weight:400;}
dd{line-height:25px;font-weight:400;margin-bottom:10px;}
hr{color:#ddd;border-color:#ddd;}

.theader{background: #aa0200;color:#fff;height:45px;line-height: 45px;padding:0 15px;}
.theader .logo{float:left;}
.theader a{color:#fff;}

.sidebar{float: left;width:200px;}
.sidebar .snav li{list-style: none;}
.sidebar .snav li a,.sidebar .snav .nav-header{margin-bottom:2px;line-height: 45px; display: block;color:#fff;text-indent: 25px}
.sidebar .snav .nav-header,.sidebar .snav a:hover{text-decoration: none; background: #708c9b}
.main-content{margin-left:200px;min-height: 800px;}
.main-content .com{padding:20px}