.tss{padding:30px 0 0 220px;}

.container{width:1150px;margin:0 auto;min-height:500px}
.smbox{border:1px solid #eee;width:500px;margin:12% auto 0;padding:25px;} 
.smbox h4{font-size:20px;padding-bottom:15px;}
.smbox .form-horizontal{}
.smbox .form-horizontal .control-group{padding-bottom:15px;padding-left:50px}
.smbox .form-horizontal .control-group .control-label{float:left;width:80px;display:inline-block;line-height:37px;font-size:15px;}  
.smbox .form-horizontal .control-group .controls {margin-left:80px;}
.smbox .form-horizontal .control-group .controls input{padding:5px;font-size:20px;}

.btn{display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;}
.btn-primary {color: #fff;background: #428bca;border-color: #357ebd;padding:0 20px;}
 
.inr{border-top:1px solid #ddd;background:#f5f5f5;text-align:center;padding:20px 0;line-height:20px} 

.t-c{text-align: center;}