body,p,ul,li,h1,h3,h4,input,dl,dt,dd{padding:0;margin:0;}
img{border:0px}
body{font-size: 14px;color:#333;}
li{list-style: none;}
.clearfix:after,.central:after,.widget ul:after,.paging:after,.pagenav:after,.base-tit:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix,.central,.widget ul,.paging,.pagenav,.base-tit{}
.gray{color:gray}
.yahei{font-family:microsoft yahei;}
a{text-decoration: none;color:#666;}
.fl{float: left;}
.fr{float: right;}
.t-c{text-align: center;}
.pt10{padding-top:15px;}
.blank{padding-top:15px;}
.str{font-weight: bold;}
.w1000{width:1000px;margin:0 auto;}


.header{width:1000px;margin:0 auto; padding:30px 0 0;}
.header .logo{height:80px;}
.header .info{width:500px;text-align: right;padding-top:12px;}
.header .info span{font-size: 16px;font-weight: bold;}
.navbox{height:50px;background: url(../images/bg_0.png) bottom repeat-x;border:1px solid #ddd;}
.nav{width:680px;padding-top:15px;height:30px;}
.nav a{padding:0 10px;color:#467000;height:30px;line-height:30px;display: inline-block; }
.nav a.active,.nav a:hover{background: #70ba02;color:#fff;}
.search{padding-top:10px;width:250px;height:35px;line-height: 35px;}
.search .btn{height:26px;background: url(../images/seach.jpg) #7ab80d center no-repeat;width:40px;border:0px;}
.search .text{height:25px;line-height: 25px;padding:0 5px;border:1px solid #ddd;}

.side{border:1px solid #ddd;width:220px;background: #f5f5f5}
.side h3{background: #2c6f00;height: 33px;color:#fff;line-height: 33px;text-indent: 10px}
.cate ul{padding-bottom:15px;}
.cate ul li a{height:30px;line-height: 30px;color:#467000;border-bottom:dashed #ddd 1px ;display:block;text-indent: 10px;} 
.cate ul li a:hover{background: #ddd;}
.hotproduct ul{padding:12px 0 12px 2px;}
.hotproduct ul li{width:100px;  float:left;margin:6px 0 0 6px;}
.hotproduct ul li img{width:98px;height:98px;border:1px solid #ddd;}

.category-desc{border: 1px solid #EEE;padding: 20px;font-size: 14px;margin: 5px 0 20px 0;}



.main{width:760px;}
.product{border:1px solid #ddd;}
.product li{font-size: 12px;line-height:20px;width:120px; padding:8px;margin:5px;float:left;text-align: center;}
.product li a{display:block;color:#333;}
.product li a:hover{background: #f5f5f5}
.product li p{padding-top:6px;}
.product li .name{}
.product li .price{color:red;}
.product li img{width:120px;height:120px;border:1px solid #eee;}

.service ul{padding:12px 0 12px 2px;}
.service ul li{width:160px;  float:left;margin:15px 8px 8px 15px;}
.service ul li img{width:158px;height:158px;border:1px solid #ddd;}



.crumbnav{height:28px;line-height:28px;border-bottom:1px dashed #ddd;margin-bottom:10px;background: #f5f5f5;text-indent: 10px}

.view .v-pic{width:300px;}
.view .v-pic img{width:298px;height:298px;border:1px solid #ddd;}
.view .v-info{width:440px;border:1px solid #ddd;}
.view .v-unit{width:400px;}
.view .v-unit ul{padding:60px 0 30px 30px;}
.view .v-unit ul li{line-height:29px;width:150px;text-align:center;margin:5px;height:29px;border:1px solid #ddd;display:inline-block;color:#fff;background:url(../images/bg_01.jpg) repeat-x}
.view .v-unit .pcs{padding:10px 5px;}
.view .v-unit .pcs a{border:1px solid #ddd;margin-bottom:10px;padding:5px 10px;display: block;}
.v-info{border:1px solid #ddd;margin-top:20px;background:#E2E2E2;}
.v-info .v-info-title{padding:0 10px;font-size:20px;background-color: #a1a1a1;color:#fff;font-weight:bold;height:35px;line-height: 35px;}
.v-info li{padding:0 10px;line-height: 25px;border-top:1px solid #fff;}
.v-info table{padding:0 10px;line-height: 25px;}
.v-info td {border:1px solid #fff;}
.v-info .tit{color:gray;padding-right:10px;}
.v-info .cc{color:#467000;}


.text h1{text-align:center;padding:10px 0;}
.text-c{line-height: 22px;}
.text-c p{text-indent: 20px;padding:5px 0;}

.footer{font-size:12px ;border-top:2px solid #ddd;width:1000px;margin:20px auto;text-align: center;line-height: 20px;padding:15px 0;}

.pagination {
  margin: 20px 0;
}

.pagination ul {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  margin-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination ul > li {
  display: inline;
}

.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}

.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 6px;
          border-bottom-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
          border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-topleft: 6px;
}

.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
          border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
          border-bottom-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-bottomright: 6px;
}

.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-bottom-left-radius: 3px;
          border-bottom-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
          border-top-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-topleft: 3px;
}

.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
          border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
          border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
}

.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}

.pager {
  margin: 20px 0;
  text-align: center;
  list-style: none;
  *zoom: 1;
}

.pager:before,
.pager:after {
  display: table;
  line-height: 0;
  content: "";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  cursor: default;
  background-color: #fff;
}