body {
	font-family: Arial, Helvetica, sans-serif;
	margin:0;
	background:#1e1b3a url(../images/index_bg.jpg) no-repeat center top;
	color:#fff;
	font-size:12px;
}
.clear{
	clear:both;
}
a.zi:hover {
	color: #0000FF;
	text-decoration: none;
}
a.zi {
	color: #025CA8;
}
a.abzi:hover {
	color: #0000FF;
	text-decoration: none;
}
a.abzi {
	color: #737FD8;
}
a.sub:hover {
	color: #FFFFFF;
	text-decoration: none;
}
a.ab:hover {
	color: #CC0000;
	text-decoration: none;
}

a.sub {
	color: #B8B8B8;
	text-decoration: none;
}
a.ab {
	color: #363636;
}
form,ul,li,dl,dt,dd{
	padding:0;
	margin:0;
}
ul,li{
	list-style:none;
}
img{
	border:none;
}
a{
	text-decoration:none;
	color: #FFFFFF;
}
a:hover{
	text-decoration:underline;
}
.flt{
	float:left;

}
.frt{
	float:right;
}

.timg{
	border:1px solid #000000;
}
.more{
	text-align:right;
	margin-top:3px;
}

.em08{
	font-size:0.8em;
}
.em09{
	font-size:0.9em;
}
.em11{
	font-size:1.1em;
}
.em12{
	font-size:1.2em;
}
.em13{
	font-size:1.3em;
}


.page{
	width:1000px;
	margin:0 auto;
}
#top{
	position:relative;
	height:67px;;
}
#top #logo{
	position:absolute;
	left:26px;
	top:20px;
	float: left;
}
#top #nav{
	position:absolute;
	left:156px;
	top:0;
	float: left;
}
#search{
	float: right;
	margin-top: 14px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 10px;
}
#search .login{
	margin:0 0 5px 20px;
}
#search .login a{
	color:#fff;
	margin:0 40px 0 0;
}
#search .searchinput{
	background:#ababc3;
	border:1px solid #1f1d3c;
	height:18px;
	color:#413f3f;
	width:130px;
	padding:0 2px;
	float:left;
}
.KK {
	height: 50px;
}
#search .searchbtn{
	float:left;
	border:none;
	margin-top:1px;
	cursor:pointer;
	background:url(search_btn.gif) no-repeat;
	width:25px;
	height:18px;
}
#indexright{
	position:relative;
	top:-67px;
	height:550px;
	background:url(../images/index_rb.jpg) no-repeat;
	float:left;
	*display:inline;
	width:196px;
}
#indexright .iwgt{
	margin-bottom:8px;
}
#indexright .iwgt h3{
	margin:0;
}
#indexright .iwgt a{
	color:#b1c5ea;
}
#indexright .list{
	margin:10px 0;
}
#indexright .iwgt .timg{
	border:1px solid #FFFFFF;
}
#indexright .iwgt .body{
	padding:10px 14px;
}
#indexright .iwgt ul{
	margin-left:66px;
}
#indexright .iwgt .tagcloud a{
	margin:0 2px;
	white-space:nowrap;
}
#indexmain{
	float:left;
	*display:inline;
	width:800px;
	margin-top:22px;
}
#indexmain .slinks{
	color:#7391ff;
	width:153px;
	float:left;
	margin-top:135px;
}
#indexmain .slinks ul{
	background:url(slinks_bg.gif) no-repeat;
	padding:8px 0;
	padding-left:30px;
}
#indexmain .slinks a{
	color:#7391ff;
}
#indexmain #ib{
	float:left;
	width:578px;
}
#indexmain #ib a{
	float:left;
}

.foot{
	clear:both;
	padding:15px 40px;
}
.foot .certify{
	padding:0 5px;
}
.foot img{
	margin:0 5px;
}

#timelinewrap{
	width:100%;
	position:absolute;
	top:550px;
	background:url(tl_bg.gif) repeat-x bottom;
}
#timeline{
	position:relative;
	width:960px;
	margin:0 auto;
}
#timeline h3{
	position:absolute;
	left:46px;
	top:-10px;
}
#timeline .contentwrap{
	width:570px;
	position:relative;
	height:25px;
	overflow:hidden;
}
#timeline .content{
	position:absolute;
	width:1000px;
	left:-430px;
	top:0;
}
#timelinewrap dl{
	float:left;
	margin:0 50px 1px 0;
	color:#3f4f71;
	font-size:9px;
	text-align:center;
	cursor:pointer;
}
#timelinewrap .current{
	color:#edf0f3;
}
#tl_left{
	cursor:pointer;
}
#tl_right{
	cursor:pointer;
}
.s_top {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	margin-bottom: 2px;
	position: relative;
}
.s_logo {
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.s_nav {
	float: left;
}
#search2{
	float: right;
	margin-top: 10px;
	margin-bottom: 0;
	margin-right: 5px;
}
#search2 .login{
	margin:0 0 5px 20px;
}
#search2 .login a{
	color:#fff;
	margin:0 40px 0 0;
}
#search2 .searchinput{
	background:#ababc3;
	border:1px solid #1f1d3c;
	height:18px;
	color:#413f3f;
	width:130px;
	padding:0 2px;
	float:left;
}
#search2 .searchbtn{
	float:left;
	border:none;
	margin-top:1px;
	cursor:pointer;
	background:url(search_btn.gif) no-repeat;
	width:25px;
	height:18px;
}
#search_hy{
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	margin-bottom: 0;
}
#search_hy .login{
	margin:0 0 5px 5px;
}
#search_hy .login a{
	color:#fff;
	margin:0 40px 0 0;
}
#search_hy .searchinput{
	background:#ababc3;
	border:1px solid #1f1d3c;
	height:18px;
	color:#413f3f;
	width:130px;
	padding:0 2px;
	float:left;
}
#search_hy .searchbtn{
	float:left;
	border:none;
	margin-top:1px;
	cursor:pointer;
	background:url(../images/search_btn.gif) no-repeat;
	width:25px;
	height:18px;
}
.heng {
	background-image: url(../images/brand/brand_02.gif);
	background-repeat: repeat-x;
	height: 26px;
	background-position: center;
	line-height: 26px;
	color: #b8b8b8;
	text-align: center;
	padding: 0px;
}
.heng .submenu {
	margin: 0px;
	width: 810px;
	overflow: hidden;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 307px !important;
    padding-left: 190px;
}
.heng .submenu li {
	float: left;
	margin: 0px;
	padding: 0px;
}
.heng .submenu li a {
	padding-left: 13px;
	padding-right: 13px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #505053;
}
.s_main {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 60px;
	overflow: hidden;
	position: relative;
}
.s_left {
	float: left;
	margin-top: 20px;
}
.shuliev {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9e9fa9;
	float: left;
	height: 500px;
	margin-right: 20px;
	margin-left: 20px;
}
.s_right {
	margin-top: 20px;
	float: left;
	width: 150px;
}
.gekai {
	width: 50px;
	float: left;
	height: 5px;
}

.globalnav {
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5e6ac5;
	font-size: 14px;
	font-weight: bold;
	color: #ff9600;
	line-height: 20px;
}
.s_right dd {
	margin: 0px;
	padding: 0px;
}
.s_right dl {
	margin: 0px;
	padding: 0px;
}

.s_right dt {
	line-height: 20px;
	margin-top: 5px;
	margin-bottom: 17px;
}
.bs {
	font-family: Arial;
	font-weight: bold;
}



.s_right img {
}

.s_right ul {
	margin: 0px;
	padding: 0px;
}
.s_right li {
	margin-left: 8px;
	height: 37px;
	width: 160px;
	float: left;
	margin-top: 10px;
}
.jiantou {
	margin-top: 8px;
	text-align: right;
}
.jiantou2 {
	margin-top: 8px;
	margin-right: 0px!important;
	margin-right: 35px;
	text-align: right;
}
.copy {
	color: #d9dcf1;
	font-family: Arial, "����";
	background-color: #23253d;
	clear: both;
	height: 50px;
	display: block;
	overflow: hidden;
	position: relative;
}
.cop_zi{
	float:left;
	clear: both;
}
.flt2{
	float:left;
	line-height: 50px;
	margin-left: 190px!important;
	margin-left: 75px;
	font-family: "����";
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
}
.frt2{
	float:right;
	padding-top: 20px;
	padding-right: 170px;
}
.zimu {
	background-color: #222539;
	height: 20px;
	color: #ff9600;
	font-family: Arial;
	font-size: 12px;
	margin-bottom: 17px;
	width: 620px;
	padding-left: 73px;
	line-height: 20px;
}
.zimu span {
	color: #f26522;
	font-weight: bold;
}
.h1_live {
	width: 674px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #5e6ac5;
	padding-top: 10px;
	margin-bottom: 10px;
	padding-left: 20px;
	color: #f7f2eb;
}
.h1_live span {
	line-height: 18px;
}
.h1_live ul {
	margin: 0px;
	padding: 0px;
	overflow: auto;
}
.h1_live li {
	float: left;
	width: 165px;
	line-height: 20px;
}


.tb_zi{
	color: #8b91bf;
	font-weight: bold;
}
.zimu li {
	float: left;
	width: 20px;
}
.zimu ul {
	margin: 0px;
	padding: 0px;
}
/*==========================================================================*/
.newsRightCol {
	margin-bottom: 10px;
}
.newsRightCol h2 {
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5e6ac5;
	font-size: 14px;
	font-weight: bold;
	color: #ff9600;
	line-height: 20px;
}
.newsRightCol ul {
	margin: 0px;
	padding: 0px;
}
.newsRightCol li {
	/*background-image: url(../images/dian_20.gif);*/
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 10px;
	color: #a1b1ec;
	margin-left: 10px;
	line-height: 24px;
}
.newsImgHighlight {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 15px;
}
.newsImgHighlight li {
	float: left;
	width: 200px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
}
.newsListCol {
	border-top-width: 1px;
	border-top-style: dashed;
	border-top-color: #6e6e76;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
}
.newsListCol .inset {
	width: 66px;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
}
.newsListCol .content {
	width: 475px;
	margin-right: 10px;
	float: right;
}
.newsListCol .content h2 {
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
.newsListCol .content p {
	color: #9d9d9d;
	line-height: normal;
	margin: 0px;
	padding: 0px;
}
