.s_right2 {
	margin-top: 20px;
	float: left;
	width: 170px;
}
.s_right2 p {
	width: 170px;
	font-family: "����";
	color: #FFFFFF;
	padding: 0px;
	line-height: 18px;
	margin: 0px;
	text-align: justify;
}
.s_right2 ul {
	margin: 0px;
	padding: 0px;
}
.s_right2 li {
	background-image: url(../images/brand/final_24.jpg);
	background-repeat: no-repeat;
	list-style-type: none;
	color: #5d6bd2;
	margin-top: 8px;
	padding-left: 15px;
	height: 23px;
	line-height: 23px;
	float: left;
	width: 70px;
}
.globalnav2 {
	float: left;
	margin-bottom: 10px;
	margin-top: 15px;
	font-size: 14px;
	font-weight: bold;
	color: #ff9600;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5e6ac5;
	width: 150px;
}
.s_left2 {
	float: left;
	margin-top: 20px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #75768b;
	border-left-color: #75768b;
	text-align: justify;
	padding-right: 20px;
	padding-left: 40px;
	margin-right: 20px;
	margin-left: 20px;
}.s_left2 h2 {
	font-size: 14px;
	font-family: "����";
	text-align: center;
	color: #f8f9ff;
}
.s_left2 p {
	color: e7e7e7;
	text-align: justify;
}
.s_left2 img {
	margin-right: 8px;
}
.mian_ss {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #4a5488;
	padding-left: 300px;
	color: #a1b1ec;
	padding-top: 10px;
	padding-bottom: 30px;
}
.s_right77 {
	margin-top: 20px;
	width: 178px;
	float: left;
}
.globalnav7 {
	margin-bottom: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #ff9600;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5e6ac5;
	width: 185px;
}
.s_right77 img {
	padding-bottom: 2px;
	padding-right: 2px;
}

.s_right77 dl {
	margin: 0px;
	padding: 0px;

}
.s_right77 dd {
	float: left;
	padding-right: 8px;
}
.s_right77 dt {
	float: left;
	color: #bbbbbb;
	padding-bottom: 17px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3f3f53;
	margin-bottom: 10px ;
	margin-bottom: 0px;
}
.zi_bs {
	color: #9098db;
	font-weight: bold;
}
.s_right77 li {
	background-image: url(../images/dian_20.gif);
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: 0px 10px;
	color: #a1b1ec;
	margin-left: 10px;
	line-height: 24px;
}
.globalnav8 {
    margin-bottom: 10px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #ff9600;
	line-height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #5e6ac5;
	width: 440px;
}
.kuangk {
}
.news_pic dd {
	float: left;
}

.news_pic {
	overflow: auto;
	float: left;
}
.s_left3 {
	float: left;
	width: 600px;
	padding-right: 63px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9e9fa9;
	padding-top: 20px;
	margin-right: 13px;
	overflow: hidden;
	position: relative;
}
.mian_Kuang {
	width: 600px;
	padding-right: 60px;
	overflow: hidden;
	position: relative;
	float: left;
	padding-top: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #9e9fa9;
	margin-right: 40px;
}
.mian_Kuang h2 {
	font-size: 30px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.xianx {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	text-align: center;
	margin: 0 0 10px 0;
}
.bzi {
	color: #818181;
	text-align: center;
}
.mian_Kuang p {
	font-size: 13px;
	line-height: 22px;
	color: #FFFFFF;
	text-indent: 20px;
}
.mian_Kuang li {
	line-height: 20px;
	float: left;
	width: 210px;
	padding-left: 85px;
	overflow: hidden;
	position: relative;
}
.subnav1 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #4a5488;
	color: #a1b1ec;
	padding-top: 10px;
	padding-bottom: 30px;
	float: right;
	width: 150px;
	padding-left: 450px;
}
.sc_mian {
	width: 870px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	position: relative;
}
.sc_left {
	width: 664px;
	float: left;
	padding-top: 12px;
}
.sc_right {
	width: 183px;
	
	float: right;
}
.sc_right input {
	width: 110px;
	border: 1px solid #92a2c0;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
}
.RightMian {	
    margin-top: 19px;
    margin-top: 14px !important;

}
.MianColo {
	background-color: #f0ddaa;
	padding-bottom: 80px;
}

.RightMianM {
	background-color: #FFFFFF;
	width: 171.5px;
	display: block;
	overflow: hidden;
	position: relative;
	padding-right: 2px;
	padding-left: 5px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #bccddd;
	border-left-color: #bccddd;
}
.RightZxjr {
	overflow: hidden;
	position: relative;
	}
.RightZxjr li {
	color: #333333;
	float: left;
	width: 35px;
	margin-right: 8px;
	margin-left: 8px;
	font-family: "����";
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}


.RightMianM h2 {
	font-weight: bold;
	color: #555555;
	font-family: "����";
	font-size: 12px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e7e7;
	line-height: 18px;
	text-indent: 10px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
	margin-left: 0px;
}
.SCgengduo {
	color: #00467e;
	font-size: 12px;
	font-family: "����";
	float: right;
	margin-top: 5px;
	margin-right: 15px;
	width: 150px;
	text-align: right;
}

.RightMianM li {
}


.RightBottome {
	background-image: url(../images/dd.gif);
	background-repeat: no-repeat;
	height: 9px;
}

.RightTop {
	background-image: url(../images/dd2.gif);
	background-repeat: no-repeat;
	height: 9px;
	font-size: 0px;
	line-height: 0px;
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
}
.RightTS {
	background-image: url(../images/subnav_03.gif);
	background-repeat: no-repeat;
	height: 28px;
	display: block;
	overflow: hidden;
	position: relative;
	font-family: "����";
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	color: #FFFFFF;
	padding-left: 10px;
}
.anniu {
	margin-top: 15px!important;
	margin-top: 12px;
}



.sc_left h2 {
}
.rmleft {
	float: left;
	width: 74px;
	overflow: hidden;
	position: relative;
}
.rmleft img {
}
.rmzi {
	float: left;
}
.sc_left h2 {
	font-family: "��Բ";
	color: #e47e23;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}
.scZi {
	font-size: 24px;
}
.scSuzi {
	color: #ed145a;
	font-size: 18px;
}
.mianm {
	background-image: url(../images/da2.gif);
	background-repeat: no-repeat;
	height: 7px;
	margin-top: 12px;
	overflow: hidden;
	position: relative;
	display: block;
}
.mianmTS {
	background-image: url(../images/sub_03.gif);
	background-repeat: no-repeat;
	height: 27px;
	margin-top: 12px;
	overflow: hidden;
	position: relative;
	display: block;
	font-family: "����";
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 27px;
	padding-left: 40px;
}
.Leftys {
	color: #00467e;
	font-family: "����";
	margin-top: 30px;
	text-align: center;
	padding-right: 20px;
	width: 95%;
	margin-bottom: 15px;
}
.Leftys01 {
	color: #FFFFFF;
	font-family: "����";
	margin-top: 20px;
	text-align: right;
	padding-right: 20px;
	width: 95%;
	margin-bottom: 15px;
}


.ContentPic img {
	width: 48px;
}
.ContenZi img {
	margin-left: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.ContentBai {
	background-color: #FFFFFF;
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #bccddd;
	border-left-color: #bccddd;
	width: 660px;
}
.ContentPic {
	width: 48px;
	margin-right: 10px;
	float: left;
}
.ContentPic0 {
	margin-right: 10px;
	float: left;
}
.bwContent {
	background-color: #FFFFFF;
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	overflow: hidden;
	position: relative;
	margin-right: 11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
	margin-bottom: 10px;
	width: 600px;
}
.ContenZi {
	float: left;
}
.ContenZi h2 {
	color: #005592;
	font-size: 12px;
	font-family: "����";
	font-weight: normal;
}
.Contentlz {
	color: #7a7a7a;
}
.ContenZi p {
	color: #363636;
	text-indent: 40px;
	line-height: 20px;
	padding-bottom: 20px;
}
.ContenZi li {
	margin-right: 5px;
}

.mianmbot {
	background-image: url(../images/dj.gif);
	background-repeat: no-repeat;
	height: 9px;
	margin-bottom: 25px;
}
.sc_left li {
	text-indent: 140px;
	color: #d7d7d7;
}
.SeKai {
	width: 652px;
	background-color: #7994d9;
	margin-top: 10px;
	margin-bottom: 21px;
	padding-top: 15px;
	padding-bottom: 8px;
	padding-left: 12px;
	overflow: hidden;
	position: relative;
}
.SeKaibs {
	width: 652px;
	background-color: #000000;
	margin-top: 10px;
	margin-bottom: 21px;
	padding-top: 15px;
	padding-bottom: 8px;
	padding-left: 12px;
	overflow: hidden;
	position: relative;
}
.SeKaiPic img {
	border: 1px solid #FFFFFF;
}
.SeKai h2 {
	font-size: 28px;
	color: #FFFFFF;
	font-family: "����";
	margin: 0px;
	padding: 0px;
}
.SeKai span {
	font-size: 12px;
	color: #002157;
	font-family: "����";
	font-weight: normal;
	padding-left: 15px;
}
.SeKai p {
	color: #002157;
	font-weight: normal;
	font-family: "����";
	text-indent: 20px;
	margin: 0px;
	padding-top: 12px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	line-height: 20px;
}




.SeKaiPic {
	float: left;
	width: 70px;
	color: #0066FF;
}
.TopPic {
	float: left;
	width: 48px;
	color: #0066FF;
}
.MianZiBW {
	float: left;
	width: 220px;
	margin-left: 15px;
	color: #005592;
	font-family: "����";
	font-size: 12px;
	line-height: 20px;

}

.Rightbz {
	padding-left: 5px;
}
.Bottom td {
	padding-right: 40px;
	color: #025ca8;
	font-family: "����";
	font-size: 12px;
	line-height: 22px;
}

.Rightbz li {
	color: #025ca8;
	float: left;
	background-repeat: no-repeat;
	margin: 0px;
	background-position: 2px 5px;
	width: 170px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 12px;
	font-size: 12px;
}
.Rightzz {
	color: #333333;
}
.RightMianM input {
	width: 40px;
	height: 20px;
	border: 1px solid #666666;
	margin: 0px;
	padding: 0px;
}
.RightInput {
	padding-bottom: 0px !important;
	padding-bottom: 20px;
	padding-top: 5px;
	text-align: right;
	margin: 0px;
	padding-right: 20px;
	padding-left: 0px;
}
.Peoplekuang {
    height: 0px !important;
	height: 28px;
}

.RightRmbx {
}
.RightRmbx li {
	font-size: 14px;
	color: #00467e;
	margin: 0px;
	padding: 0px;
	width: 80px;
}
.MianTTColo {
	background-color: #89bae2;
}

.lbRight {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e7e7;
	margin-right: 10px;
	margin-left: 40px;
	margin-top: 25px;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 614px;
}
.lbPic img {
	width: 47px;
}


.ZTRight {
	float: left;
}
.lbPic {
	float: left;
	color: #00706a;
	width: 47px;
}

.MianZikk {
	float: left;
	width: 480px;
	margin-left: 20px;
	color: #333333;
}
.Topkk {
	float: left;
	width: 480px;
	margin-left: 20px;
	color: #333333;
	line-height: 22px;
	margin-bottom: 20px;
}
.RiQi {
	color: #0099FF;
	font-family: "����";
	font-size: 12px;
	padding-left: 310px;
}
.HuiZi {
	color: #999999;
}

.MianZiBW h3 {
	font-size: 12px;
	color: #025ca8;
	font-family: "����";
	font-weight: normal;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
.MianZiBW p {
	font-size: 12px;
	color: #999999;
	font-family: "����";
	margin: 0px;
	line-height: 20px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.Mianzic {
	padding: 0px;
	margin-top: 8px;
	margin-right: 0px;
	margin-left: 0px;
}
.Mianzic p {
	margin: 0px;
	padding: 0px;
	line-height: 22px;
}
.Mianzic img {
	padding-top: 10px;
}
.Bottomsub h4 {
	font-family: "����";
	font-size: 12px;
	font-weight: bold;
	color: #555555;
}
.BottomMian {
	overflow: hidden;
	position: relative;
}
.Bottomsub {
	margin-top: 25px;
	margin-left: 40px;
	margin-right: 10px;
	margin-bottom: 20px;
}
.Bottomsub span {
	font-family: "����";
	font-size: 12px;
	font-weight: normal;
	margin-left: 450px;
}
.BottomPic {
	color: #226695;
	width: 80px;
	float: left;
	margin-right: 20px;
}
.Bottom {
	margin-left: 40px;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
.BottomPic img {
	margin-bottom: 30px;
}
.TopMian {
	margin-top: 30px;
	margin-right: 40px;
	margin-left: 10px;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.TopMian h4 {
	font-family: "����";
	font-size: 22px;
	font-weight: normal;
	color: #454d87;
}
.RightZxjr p {
	font-family: "����";
	font-size: 16px;
	font-weight: normal;
	line-height: 22px;
	width: 150px;
	padding-left: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.BookPic {
	color: #226695;
	width: 201px;
	float: left;
	margin-right: 20px;
}
.BookSubMian {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 5px;
}

.BookSub {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e7e7e7;
	margin-top: 10px;
	margin-bottom: 20px;
}
.BookSub h3 {
	font-family: "����";
	font-size: 12px;
	font-weight: bold;
	color:#666666;
	margin: 0px;
	padding: 0px;
	line-height: 22px;
	text-indent: 10px;
}
.BookMianM {
	margin-left: 35px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	overflow: hidden;
	position: relative;
}
.BookMianM h4 {
	font-family: "����";
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.BookMianM p {
	color: #025ca8;
	font-family: "����";
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	padding: 0px;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.BookZi {
	display: block;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.BookZi li {
	color: #2d2d2d;
	font-family: "����";
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	text-indent: 40px;
}
.BookSubMian h5 {
	font-family: "����";
	font-size: 12px;
	font-weight: bold;
	color: #2c2c2c;
	text-indent: 20px;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.BookMianM li {
	text-indent: 0px;
	width: 146px;
	text-align: left;
	color: #025ca8;
	font-family: "����";
	font-size: 12px;
	line-height: 22px;
	float: left;
	margin-right: 32px;
}
.BookMianM p {
	margin: 0px;
	padding: 0px;
}
.jde {
	color: #FFFFFF;
	font-family: "����";
	line-height: 20px;
}
.ShowMian {
	background-color: #000000;
	margin-right: auto;
	margin-left: auto;
}.ShowMianM {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	position: relative;
}
.ShowMianMM {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/images/bj_02.jpg);
	background-repeat: no-repeat;
	width: 1000px;
	overflow: hidden;
	position: relative;
	padding-top: 10px;
}
.ShowTop {
	padding-right: 40px;
	padding-left: 50px;
}

.ShowLeft {
	margin-top: 8px;
	float: left;
	margin-left: 45px;
}
.ShowRight {
	float: right;
	margin-top: 10px;
}
.ShowRightDP {
	float: right;
}
.ShowLeft h2 {
	color: #ff9600;
	font-family: "����";
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 110px;
}

.ShowLeft p {
	width: 150px;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 120px;
	line-height: 20px;
}
.ShowMianPic {
	padding-top: 5px;
}
.ShowMianPic li {
	float: left;
	width: 302px;
}
.ShowMianFS {
	padding-top: 5px;
}
.ShowMianFS li {
	float: left;
	width: 246px;
	padding-left: 60px;
}
.ShowZi li {
	float: left;
	width: 60px;
	padding-top: 15px;
	padding-bottom: 8px;
}
.ShowZi {

}
.ShowShuzi {
	padding-left: 450px;
}
.ShowShuzi li {
	width: 25px;
	float: left;
	padding-bottom: 20px;
}
.ShowBottom {
	width: 910px;
	margin-right: 40px;
	margin-left: 50px;
}
.ShowShi {
	color: #f12b3d;
	font-weight: bold;
}
.ShowJiu {
	color: #f69679;
}
.ShowBj {
	padding-top: 65px;
	padding-left: 120px;
	padding-bottom: 170px;
}
.ShowMianBj {
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/bjj.jpg);
	background-repeat: no-repeat;
	width: 1000px;
}
.Showjiantou {
	height: 56px;
	width: 38px;
	float: left;
	background-color: #bbbbbb;
	margin-top: 191px;
	margin-right: 5px;
}
.ShowjiantouRight {
	height: 56px;
	width: 38px;
	float: left;
	background-color: #bbbbbb;
	margin-top: 191px;
}
.ShowjiantouA {
	height: 56px;
	width: 38px;
	background-color: #bbbbbb;
	margin-top: 90px;
	margin-right: 10px;
	text-align: right;
	float: left;
}
.ShowjiantouRightA {
	height: 56px;
	width: 38px;
	background-color: #bbbbbb;
	margin-top: 90px;
	text-align: right;
}
.ShowMianMM {
	width: 1000px;
}
.ShowShuZiBig {
	width: 910px;
	margin-right: 40px;
	margin-left: 50px;
}
.ShowBWMian {
	display: block;
	float: left;
	width: 1000px;
}
.ShowLeft h1 {
	font-family: "����";
	font-size: 14px;
	color: #d7d7d7;
	margin: 0px;
	padding-top: 8px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 30px;
}
.ShowMianHH {
	padding-top: 5px;
}
.ShowMianHH li {
	float: left;
	width: 170px;
}.s_left3 p {
	font-family: "����";
	font-size: 12px;
	line-height: 20px;
}
.ShowZIzz {
	padding-left: 45px;
	padding-right: 40px;
	text-indent: 20px;
	padding-bottom: 20px;
}
.ShowZIzz p {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


.ShowPicKK {
	float: left;
}
.sm_bj {
	background-image: url(../images/shu_03.gif);
	background-repeat: no-repeat;
	width: 684px;
	margin-top: 10px;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.NN {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #990000;
	display: block;
}
.Biankuangg {
	margin-top: 25px;
	padding-bottom: 25px;
	overflow: hidden;
	position: relative;
	width: 285px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ececec;
	margin-bottom: 30px;
}
.leftle {
	float: left;
	margin-right: 32px;
	margin-top: 10px;
	margin-left: 25px;
}
.rightle {
	float: right;
	margin-right: 32px;
	margin-top: 10px;
	margin-left: 25px;
}
.jj{
	float: left;
}.hh {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
.dessert {
	color: #1f7f9f;
}
.hk {
	color: #025ca8;
	padding-left: 7px;
}
.bianb {
	color: #333333;
}
.jiaojiao {
	background-image: url(../images/com_jj.gif);
	background-repeat: no-repeat;
	height: 18px;
	margin-top: 12px;
	overflow: hidden;
	position: relative;
	display: block;
}
.ZiZi {
	margin-bottom: 10px;
}.biaoqian {
	color: #00467e;
	font-weight: bold;
	font-family: "����";
	font-size: 12px;
	padding-right: 5px;
	padding-left: 5px;
}
.biaoqianZi01 {
	font-family: "����";
	font-size: 10px;
	font-weight: bold;
	padding-right: 10px;
}
.biaoqianZi02 {
	padding-right: 17px;
}
.biaoqianZi03 {
	font-family: "����";
	font-size: 14px;
	padding-right: 15px;
}
.spon {
	margin-top: -20px;
	width: 850px;
	margin-right: auto;
	margin-left: auto;
}
.subgrey {
	color: #666666;
	text-decoration: none;
}
.subgrey:hover {
	text-decoration: none;
}
.See{
	font-size: 13px;
	color:#000000;
}
.Title{
	font-family: "����_BG2312";
	font-size: 12px;
	color:#606060;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.PhotoInfo {
	
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-color: #bccddd;
	border-left-color: #bccddd;
	width: 800px;
}
.photoInside{
	margin:5px;
	width: 800px;
}
.photoInside_page{
	margin:5px;
	width: 800px;
	height:30px;
	line-height:30px;
}
.photoInside_name{
	margin:5px;
	width: 800px;
	height:30px;
	line-height:30px;
}
.PhotoInfo1{
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.PhotoInfo2 {
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	overflow: hidden;
	position: relative;
	margin-right: 11px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e6e6e6;
	margin-bottom: 10px;
	width: 600px;
}
.PhotoInfoA{
	width:300px;
	height:300px
}

.Date{
color:#999999;
}

.MianMini{
	float: left;
	margin-left: 15px;
	margin-right: 15px;
	color: #000000;
	font-family: "����";
	font-size: 12px;
	line-height: 20px;
}

.PricePhoto {
	float: left;
	color: #00706a;
	width: 250px;
	height: 250px;
}