body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	line-height: 20px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;
}
a:link {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}

a:visited {
	color: #333333;
	font-size: 12px;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	font-size: 12px;
	text-decoration: none;
}

a.new:link {
	font-size: 12px;
	color:#333333;
	text-decoration:none;
}
a.new:visited {
	font-size: 12px;
	color:#333333;
	text-decoration:none;
}
a.new:hover {
	font-size: 12px;
	color:#FF6600;
	text-decoration:none;
}

a.t:link {
    font-size:14px;
	font-weight:bold;
	color: #FF0000;
	text-decoration: none;
}
a.t:visited {
    font-size:14px;
    font-weight:bold;
	color: #FF0000;
	text-decoration: none;
}
a.t:hover {
    font-size:14px;
	font-weight:bold;
	color: #FF6600;
	text-decoration: none;
}
a.red:link {
    font-size:12px;
	color: #FF6600;
	text-decoration: none;
}
a.red:visited {
    font-size:12px;
	color: #FF6600;
	text-decoration: none;
}
a.red:hover {
    font-size:12px;
	color: #FF9900;
	text-decoration: none;
}

.RedText {
	color: #5EACD5;
	font-weight:bold;
}
.linkText {
	color: #286197;
	font-size:12px;
	font-weight:bold;
}

.Text {
	font-size: 12px;
	color:#666666;
	line-height:18px;
	text-decoration:none;	
}
.Text2 {
	font-size: 12px;
	color:#B4B4B4;
	line-height:18px;
	text-decoration:none;	
}
.bold {
	font-size: 12px;
	text-decoration:none;
	color:#333333;
	font-weight:bold;
	}
.white_bold {
	font-size: 12px;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	}
.white {
	font-size: 12px;
	color:#000000;
	text-decoration:none;	
}.copyright {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 10px;
	color:#CCCCCC;
}

.ddd {

  line-height:20px;
  border:solid 1px #CCCCCC;
  height:12px;
}
.Textid3 {
	font-size: 12px;
	color:#666666;
	text-decoration:none;
	height:18px;
	width:60px;	
}
.Text10 {
	font-size: 10px;
	font-family: Arial;
	color:#666666;
	text-decoration:none;
}
