body{padding:0px;margin:0px;   font-family: STHeitiSC-Light; color: #686868;}
ul,li,h2,h3,p,dl,dt,dd{margin:0px;padding:0px;list-style: none}
.pl{float: left}
.pr{float: right}
a{text-decoration: none}
.clear:after {  display: block;  clear: both;  content: "";  visibility: hidden;  height: 0  }
.clear{zoom: 1  }
.none{display: none  }
.color-red{color:#e80010}
.padding{padding:15px;}
.btn{display: inline-block;border-radius: 3px;padding:10px;text-align: center}
.btn-block{display: block}
.btn-danger{background:#e80010;color:#fff;}
.header{background:#fff;z-index: 22222; height:40px;position: fixed;top:0px;left:0px;right:0px;text-align: center;border-bottom:1px solid #eee;}
.header .name{text-align: center;color:#e80010;height:40px;line-height: 40px;}
.header .logo{display:inline-block;text-align: center;width:100px;margin:0 auto;}
.header .logo img{width:100px;}
.header .mum{position:absolute;top:12px;right:10px;display: inline-block;width:25px;height:20px;background-image: url(../images/main.png);background-size:cover}
.header .back{position:absolute;top:10px;left:10px;display: inline-block;width:23px;height:23px;background-image: url(../images/rt.png);background-size:cover}
body{padding-top:40px;}
.footer{background:#eeeeee;text-align: center;padding:10px;}
.footer img{width:100px;}
.footer p{font-size:10px;padding-top:5px;}

.index_bd{background:#eee;}
.index_bd .indexbanner img{width:100%;}
.index_bd .hotnews {padding:15px 10px;border-bottom:1px solid #eee;background:#fff;margin-bottom:10px;}

.index_bd .hotnews .hd{width:80px;float: left;}
.index_bd .hotnews .hd img{width:80px;}
.index_bd .hotnews .tit{ text-decoration: none;color:#666; margin-left:90px;font-size:14px;display: block;margin-right:20px;height:20px;line-height: 20px;}
.index_bd .hotnews .more{float: right}
.index_bd .hotnews .more img{width:10px;vertical-align: middle}
.index_bd .servers{background:#fff;}
.index_bd .servers ul li{line-height:1.2;border-bottom:1px solid #eee;box-sizing:border-box;padding:10px ;background-repeat:no-repeat;width:50%;float: left;height:60px;background-size: 100px auto;background-position:  center right}
.index_bd .servers ul li:nth-child(odd){border-right:1px solid #F4F4F4;}
.index_bd .servers ul h3{font-size:14px;}
.index_bd .servers ul li p{font-size:12px;color:#888;width:80%;}
.index_bd .newsbox .cats{padding:10px ;}
.index_bd .newsbox .cats a{display:inline-block;border-radius: 10px;margin:0 5px;background:#eee;padding:5px 0px;text-align:center;color:#333;width:20%;font-size:12px;}
.index_bd .newsbox .cats a.active{background:#e80010;color:#fff;}
.index_bd .newsbox dl dt img{height:180px;width:100%;}
.index_bd .newsbox dl dt a{height:180px;width:100%;display:block;position: relative;}
.index_bd .newsbox dl dt span{color:#fff; box-sizing: border-box;padding:10px;background:rgba(0,0,0,.7);bottom:0px;left:0px;right:0px;position: absolute;z-index: 222}
.index_bd .newsbox dl dd{padding:10px 10px 0;}
.index_bd .newsbox dl dd a{padding:10px 0 10px 13px;display: block;color:#777;border-bottom:1px solid #eee;position:relative}
.index_bd .newsbox dl dd a:after{content: " ";width:8px;height:8px;top:14px;background-color:#e80010;left:0px;border-radius: 50%;position: absolute}
.index_bd .newsbox .jincai a{width:50%;display: inline-block;float: left;box-sizing:border-box;padding:10px 15px;}
.index_bd .newsbox .jincai a:last-child{border-left:1px solid #eee;}
.index_bd .newsbox .jincai span{display: inline-block;height:50px;line-height: 50px;float:left;color:#333;}
.index_bd .newsbox .jincai img{width:50px;float:left;margin-right:10px;}
.index_bd .hezuo{padding-bottom:15px;}
.index_bd .hezuo a{display: inline-block;width:33.3%;float:left}
.index_bd .hezuo a img{width:100%;border-right:1px solid #eee;box-sizing: border-box;border-bottom:1px solid #eee;}
.index_bd .textlink a{float:left;display: inline-block;border-right:1px solid #eee;color:#333;padding:10px 20px;border-bottom:1px solid #eee;}

.index_bd .ibox{background:#fff;margin-bottom:10px;}
.index_bd .ibox .title{box-sizing:border-box;padding:10px 5px;border-left:5px solid #e80010;border-bottom:1px solid #eee;}
.index_bd .ibox .title span{font-size:16px;color:#333}
.index_bd .ibox .title .more a{font-size: 12px;color:#999}
.news_bd .tags{padding:10px 0;}
.news_bd .tags a{display: inline-block;background:#ddd;border-radius:3px;margin:0 5px;font-size:14px;padding:2px 5px;color:#444}

.news_bd .tags a.active{color:#fff;background:#e80010}
.news_bd .newslist dl dt img{height:180px;width:100%;}
.news_bd .newslist dl dt a{height:180px;width:100%;display:block;position: relative;}
.news_bd .newslist dl dt span{color:#fff; box-sizing: border-box;padding:10px;background:rgba(0,0,0,.7);bottom:0px;left:0px;right:0px;position: absolute;z-index: 222}
.news_bd .newslist dl dd{padding:10px 10px 0;}
.news_bd .newslist dl dd a{padding:10px 0 ;display: block;color:#777;border-bottom:1px solid #eee;position:relative}
.news_bd .show-comm img{max-width: 100%;}
.news_bd .show-ti{padding:10px 10px 5px;line-height: 1.2}
.news_bd .show-date{padding:0 10px 5px;font-size:12px;}
.news_bd .show-comm{padding:10px;line-height: 1.6;font-size:14px;}

.sidebar{position: fixed;width:280px;right:-280px;top:0px;bottom:0px;background:#fff;z-index: 33333}
.sidebar .hd {text-align: center;position: relative}
.sidebar .hd i{float: right;position:absolute;right:10px;font-style: normal;top:8px;border:1px solid #eee;width:20px;line-height:20px;height:20px;border-radius: 50%;}
.sidebar .hd img{width:100px;}
.sidebar .comm{overflow: scroll;height:95%;}
.sidebar .comm dl dt{background:#eee;padding:10px}
.sidebar .comm dl dd{}
.sidebar .comm dl dd a{border-bottom:1px solid #eee;box-sizing: border-box; display:inline-block;width:50%;float:left;text-align: center;color:#555;font-size:12px;line-height: 14px;padding:10px 0;}
.sidebar .comm dl dd a:nth-child(odd){border-right:1px solid #eee;}

.banner img{width:100%;}

.jiameng .addform{padding:15px;}
.jiameng .addform .item{border:1px solid #ddd;margin-bottom:20px;padding:5px;position: relative}
.jiameng .addform .item label{display: inline-block;float: left;position: absolute;font-size:13px;top:7px;left:10px;}
.jiameng .addform .item input{text-indent: 70px;width:90%;border:0px;}
.jiameng .addform .item textarea{border:0px;width:100%;min-height: 140px;text-indent:70px;padding:0 5px;box-sizing: border-box}
.jiameng .addform .btnbt{}


.c-img img{width:100%;}


.piclist .tabs{border-bottom:1px solid #eee;}
.piclist .tabs a{display: inline-block;color:#444;padding:10px 15px;font-size:14px;border-right:1px solid #eee;}
.piclist .tabs a.active{border-bottom:2px solid #e80010;color:#e80010}
.piclist ul li{width:100%;margin-bottom:10px;}
.piclist ul li img{width:100%;}
.piclist ul li a{display: block;position: relative}
.piclist ul li a span{height:40px;line-height:40px;text-indent:20px;position: absolute;left:0px;bottom:0px;right:0px;background:rgba(0,0,0,.7);color:#fff;}

.piclist ul li.time{text-align: center;font-size:12px;color:#999;margin-top:15px;}


.videolist li span{display: block;padding:10px;}

















div.sewise-player-ui div.big-play-btn{display: none;opacity: 0}
.sewise-player-ui .controlbar-progress{display: none}
div.sewise-player-ui div.controlbar ul.controlbar-btns li.right-float{display: none}
/* clearfix */
.owl-carousel .owl-wrapper:after{content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
/* display none until init */
.owl-carousel{display: none; position: relative; width: 100%; -ms-touch-action: pan-y;}
.owl-carousel .owl-wrapper{display: none; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);}
.owl-carousel .owl-wrapper-outer{overflow: hidden; position: relative; width: 100%;}
.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition: height 500ms ease-in-out; -moz-transition: height 500ms ease-in-out; -ms-transition: height 500ms ease-in-out; -o-transition: height 500ms ease-in-out; transition: height 500ms ease-in-out;}
.owl-carousel .owl-item{float: left;}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{cursor: pointer;}
.owl-controls{-webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
/* mouse grab icon */
.grabbing{cursor:url(grabbing.png) 8 8, move;}
/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item{-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); -moz-transform: translate3d(0,0,0); -ms-transform: translate3d(0,0,0);}
.owl-theme .owl-controls .clickable{}
.owl-theme .owl-controls .owl-pagination{position: absolute;bottom:5px;right:30px;}
.owl-theme .owl-controls .owl-page{display: inline-block; zoom: 1; *display: inline;/*IE7 life-saver */}
.owl-theme .owl-controls .owl-page span{display: block; width: 8px; height: 8px; margin: 5px 7px 0 0; filter: Alpha(Opacity=50);/*IE7 fix*/ opacity: 0.5; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; background: #fff;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);/*IE7 fix*/ opacity: 1;}
.area_btn,.tooth{text-align:center}.gearArea{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size:10px;background-color:rgba(0,0,0,.2);display:block;position:fixed;top:0;left:0;width:100%;height:100%;z-index:9900;overflow:hidden;-webkit-animation-fill-mode:both;animation-fill-mode:both}.area_btn_box,.area_roll{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}.area_ctrl,.area_roll{height:auto;width:100%}.area_ctrl{vertical-align:middle;background-color:#d5d8df;color:#000;margin:0;position:absolute;left:0;bottom:0;z-index:9901;overflow:hidden;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.area_roll,.area_roll>div{background-color:transparent;overflow:hidden}.slideInUp{-webkit-animation:slideInUp .3s;animation:slideInUp .3s}@-webkit-keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}@keyframes slideInUp{from{-webkit-transform:translate3d(0,100%,0);transform:translate3d(0,100%,0)}to{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}.area_roll{display:flex;-webkit-mask:-webkit-gradient(linear,0 50%,0 100%,from(#debb47),to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(top,#debb47 50%,rgba(36,142,36,0))}.area_roll>div{font-size:1.6em;height:10em;float:left;position:relative;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1}.area_roll>div .gear{width:100%;float:left;position:absolute;z-index:9902;margin-top:4em}.area_roll_mask{-webkit-mask:-webkit-gradient(linear,0 40%,0 0,from(#debb47),to(rgba(36,142,36,0)));-webkit-mask:-webkit-linear-gradient(bottom,#debb47 50%,rgba(36,142,36,0));padding:0}.area_grid{position:relative;top:4em;width:100%;height:2em;margin:0;box-sizing:border-box;z-index:0;border-top:1px solid #abaeb5;border-bottom:1px solid #abaeb5}.area_roll>div:nth-child(3) .area_grid>div{left:42%}.area_btn{color:#0575f2;font-size:1.6em;line-height:1em;padding:.8em 1em}.area_btn_box:after,.area_btn_box:before{content:'';position:absolute;height:1px;width:100%;display:block;background-color:#96979b;z-index:15;-webkit-transform:scaleY(.33);transform:scaleY(.33)}.area_btn_box{display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:stretch;-webkit-align-items:stretch;-ms-flex-align:stretch;align-items:stretch;background-color:#f1f2f4;position:relative}.area_btn_box:before{left:0;top:0;-webkit-transform-origin:50% 20%;transform-origin:50% 20%}.area_btn_box:after{left:0;bottom:0;-webkit-transform-origin:50% 70%;transform-origin:50% 70%}.tooth{height:2em;line-height:2em;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;line-clamp:1;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;overflow:hidden}
.scroller_vertical,
.scroller_horizontal {
    border-radius: 2.5px;
    background-color: rgba(0,0,0,.35);
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    position: absolute;
    opacity: 0;
}
.scroller_vertical {
    width: 5px;
    right: 0;
}
.scroller_horizontal {
    height: 5px;
    bottom: 0;
}


