// color
@grayBase: #000;
@grayDarker: lighten(@grayBase, 13.5%); // #222
@grayDark: lighten(@grayBase, 20%); // #333
@gray: lighten(@grayBase, 33.5%); // #555
@grayLight: lighten(@grayBase, 46.7%); // #777
@grayLighter: lighten(@grayBase, 80%); // #eee
@grayLights: lighten(@grayBase, 50%); // #eee
@brandPrimary: #f96650;
@brandSuccess: #5cb85c;
@brandInfo: #5bc0de;
@brandWarning: #f0ad4e;

@white:#fff;
