
.i1{padding:10px 20px;text-align:center;padding-top:60px;}
.i1 h1{padding:10px 0 20px;font-size:14px;color:#888}
.f_tac{line-height:22px;color:#666}
img.i1_logo{margin-bottom:20px;}
.img{margin:20px 0;}

 
.i2 h2 { font-weight: normal;
height:100px;line-height:100px;
font-size: 48px;padding-left:40px;
color: #666;
}.i2 li { 
float: left;
position: relative;
width: 100%;
zoom: 1;
margin: 60px 0 0;
}
 .i2 .txt { 
position: absolute;
clear: both;
top: 30px;
width: 410px;
} .i2 .odd .txt { 
left: 40px;
}
.i2 .odd .img { 
float: right;
}
.i2 h3 { 
height:40px;line-height:40px;
border-bottom: 1px solid #E7E7E7;font-weight: normal;
font-size: 26px;margin-bottom:15px;
}.i2 .face { 
float: left;
border: 5px solid #EBEBEC;
}
.i2 .info {
float: right;color:#666;
width: 340px;
margin: -2px 0 0;
}

.i2 .even .img { 
float: left;
}
 .i2 .even .txt { 
right: 40px;
}

.i4{ padding:50px 0;clear:both;text-align:center}
.i4 h2 { font-weight: normal;
height:100px;line-height:100px;
font-size: 50px;
color: #666;
}.i4 .img { 
margin: 35px 0 0;
}