body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,form,fieldset,legend,button,input,th,td{margin:0;padding:0}
h4{text-transform:none} 
body,button,input,select,textarea{line-height:1.5;outline:none;resize:none;font-size:12px;font-family:microsoft yahei;}
a{text-decoration:none;color:#08c;cursor:pointer}
li{list-style-type:none}
a:hover{color:#A9A9A9;text-decoration:underline}
a:focus{outline:none}
input{vertical-align:middle}
img{border:0;vertical-align:middle}
em{font-style:normal}
input:focus{outline:0}
.clearfix{overflow:auto;zoom:1}
.fl{float:left}
.fr{float:right}
.tr{text-align:right}
.yahei{font-family:microsoft yahei;font-weight:400}
.none{display:none}
.text-center{text-align:center;}
body{border-top:3px solid #0384ec;color:#6e6e6e}
.header{height:77px;border-bottom:2px solid #eee;margin:0 auto}
.logo{margin-top:30px}
.nav{padding-top:30px;margin-right:-10px;font-size:18px}
.nav a{color:#999;margin:0 20px}
.nav a:hover,a.hover{color:#0384ec}
.wapper{width:95%;max-width:1120px;margin:0 auto;}
i,.icon{display:inline-block;zoom:1;vertical-align:-2px;text-shadow:none;color:transparent;background-color:transparent;width:16px;height:16px}
.slide{width:100%;position:relative;overflow:hidden}
.slide-content{position:absolute;width:100%;height:100%;background-color:#b7bdc8}
.slide .slide-item{opacity:0;display:none\9;-webkit-transition:all 1s ease-in-out;-moz-transition:all 1s ease-in-out;-o-transition:all 1s ease-in-out;transition:all 1s ease-in-out}
.slide .slide-item.visible{opacity:1;display:block}
.slide-image{display:block;position:absolute;width:100%;height:100%}
.slide-image .sl-img{position:absolute;top:0;left:0;width:100%;min-height:100%;border-radius:0;background-position:center;background-repeat:no-repeat;background-size:cover}
.slide-info{position:absolute;width:100%;height:100%;text-align:center;border-radius:0;background-color:none;color:#fff;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#88111111',endColorstr='#88111111');display:table}
.sl-info{width:1140px;text-align:left;margin:45px auto 0}
.sl-info img{margin-bottom:20px;width:130px}
.sl-info h2{font-size:36px;font-weight:400;line-height:40px}
.sl-info .inbc{clear:left;background:rgba(0,0,0,0.5);width:500px;display:inline;zoom:1;padding:20px}
.sl-info p{font-size:18px;line-height:30px;margin-top:12px;padding:5px 0}
.slide .prev,.slide .next{z-index:1;position:absolute;top:0;bottom:0;height:100%;display:table}
.slide .prev{left:20px;opacity:.5;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.slide .next{right:20px;opacity:.5;-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.slide .prev > div,.slide .next > div{margin-top:258px}
.slide-prev i{width:29px;height:55px;background:url(../images/slide-prev.png);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.slide-next i{width:29px;height:55px;background:url(../images/slide-next.png);-webkit-transition:all .2s ease;-moz-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease}
.slide .prev:hover,.slide .next:hover{opacity:1}
.slide-pager{display:block;position:absolute;bottom:20px;width:100%;text-align:center;z-index:5}
.slide-pager ul,.slide-pager li,.slide-pager a,.slide-pager i{height:10px}
.slide-pager ul{display:inline;zoom:1}
.slide-pager li{display:block;float:left;line-height:10px;margin:0 0 0 10px}
.slide-pager li:first-child,.slide-pager li.first{margin:0}
.slide-pager li a i{width:10px;height:10px;background:url(../images/slidedot-hollow.png);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.slide-pager li.current a i{width:10px;height:10px;background:url(../images/slidedot-solid.png)}
.features{padding:50px 10px}
.features ul{padding-left:40px}
.features ul li img{width:220px;height:50px}
.b_ic_a{background:url(../images/b_01.jpg) center 15px no-repeat}
.b_ic_b{background:url(../images/b_02.jpg) center -5px no-repeat}
.b_ic_c{background:url(../images/b_03.jpg) center no-repeat}
.b_ic_d{background:url(../images/b_04.jpg) center 16px no-repeat}
.features ul li{width:220px;float:left;border-right:1px solid #ddd;padding:0 20px}
.features ul li.end{border:0}
.features ul li h3{font-size:20px;line-height:40px;text-align:center}
.features ul li p{text-indent:16px;line-height:1.6}
.footer{width:95%;max-width:1120px;text-align:center;margin:0 auto;padding:20px}
.links{border-top:1px solid #eee;border-bottom:1px solid #eee;font-size:12px;padding:6px}
.reser{padding-top:30px;text-align:center}
.icp{text-align:center;padding:10px 0 30px}
.intro{border-top:1px solid #ddd;border-bottom:1px solid #ddd;padding:30px 0}
.intro h4{font-weight:400;font-size:22px;margin-left:110px}
.intro img{width:1000px;margin:0 0 25px 110px}
.intro p{margin-left:110px;line-height:1.5;font-size:14px;margin-bottom:5px}
.job{padding-top:50px}
.jober h2{color:#333;display:block;font-size:26px;font-weight:400;padding:20px 0 40px}
.hire{width:460px;float:left;margin:0 35px 50px 0}
.hire h4,.hire h5{font-weight:400;color:#333}
.hire h4{font-size:24px}
.hire h5{font-size:16px}
.hire .margin{margin:15px 0}
.phone{padding-bottom:100px}
.phone h3{font-size:24px;font-weight:400;padding:20px 0}
 
.c_box{text-align:center}
.c_box a{width:128px;height:180px;display:inline-block;color:#999;opacity:0.5;margin:0 25px}
.c_box a.on{color:#0384ec;opacity:1}
.c_box a:hover{text-decoration:none}
.c_box a span{padding-top:10px;font-size:18px}
.core{margin-bottom:15px;}
.core h3{padding:5px 0}
.core p{font-size:14px}
.text{border-bottom:1px solid #eee;padding:20px 0 33px}
.text dl dt{font-size:20px;padding:10px 0}
.intro h3,.job h3,.team h3,.context h3{font-weight:400;float:left;font-size:33px;line-height:40px;width:80px;margin:0}
.intro h5,.jober{margin:0 0 0 110px;padding:0}



/*Context*/
 .context{margin-top:30px; min-height:500px;}
.rightContext{margin-left:110px;}
.rightContext h4{font-size:22px;font-weight: normal;}
.rightContext p{font-size: 14px;}
.rightContext .last{padding-bottom:15px;}
 


/*team*/
.team{margin-top:30px; }
.teams-box h4,.teams-box h5{font-size: 18px;font-weight: normal;}
.teams-box{margin-left:110px;padding-top:5px;}
.teams-box .t-li{clear:both;margin:20px 0;}
.teams-box .t-li .span2{width:120px;height:120px;float:left;}
.teams-box .t-li .span2 img{width:120px;height:120px;border:4px;border-radius: 4px;}
.teams-box .t-li .span9{margin-left:140px;height:120px;}
.teams-box .t-li .span9 h4{margin:0;font-size: 18px}
.teams-box .t-li .span9 p{margin:0;font-size: 14px}

/*mien*/
.miens p{padding: 10px 0 10px 0;}



/*demo*/
.demoul{margin:40px 0 40px -30px;}
.demoul li{width:350px;float:left;padding-left:32px;padding-bottom:35px;position: relative;}
.demoul li img{width:350px;}

.demoul li a p{visibility:hidden;opacity: 0; -webkit-transition:all 0.2s ease-in-out;-webkit-transform:scale(0.1); background:rgba(255,255,255,0.9);width:350px;right:0;top:0px;height:267px;display: inline-block;position: absolute;}
.demoul li a p span{display: block;padding:100px 0 0;font-size:22px;text-align: center;color:#444;}
.demoul li a p span em{display: block;color:#777;font-size:14px;}
.demoul li a:hover p{visibility: visible; -webkit-transform:scale(1);opacity: 1;}