.html-border-b{background-color:#fff;}
.html-border-b .html-narrow{color: #f96650;cursor: pointer;}
.html-border-b .html-btn{color:#f96650;border:0; cursor: pointer;}
.html-btn:not(.disabled):not(:disabled):active{background: #fff;color: rgba(249, 102, 80, 0.5);}
.html-border-t{color:#f96650;}
.html-desc{color:#f96650;}
.layout-border-b .html-btn{color:#f96650;border:0; cursor: pointer; background-color:transparent;}
.layout-btn-lg{color:#f96650;}
.layout-button{background-color:#f96650;}
.layout-btn-lg-b{
    background-color: #f96650;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#f96650),to(#f96650));
    color: #fff;
    border: 1px solid #cacccd;
}   

/*banner*/
body {
background:#fff;
font-family:Arial, sans-serif;
}

/*p {
margin-bottom:20px;
}*/

.clearout {
margin-top: 45px;
height:20px;
clear:both;
}

#flexiselDemo3 {
display:none;
}

.nbs-flexisel-container {
    position:relative;
    max-width:100%;
}
.nbs-flexisel-ul {
    position:relative;
    width:9999px;
    margin:0px;
    padding:0px;
    list-style-type:none;   
    text-align:center;  
}
.nbs-flexisel-inner {
    overflow:hidden;
    float:left;
    width:100%;
    background:#fcfcfc;
    background: #fcfcfc -moz-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* FF3.6+ */
    background: #fcfcfc -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#eee)); /* Chrome,Safari4+ */
    background: #fcfcfc -webkit-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Chrome10+,Safari5.1+ */
    background: #fcfcfc -o-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* Opera11.10+ */
    background: #fcfcfc -ms-linear-gradient(top, #fcfcfc 0%, #eee 100%); /* IE10+ */
    background: #fcfcfc linear-gradient(top, #fcfcfc 0%, #eee 100%); /* W3C */
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px; 
}

.nbs-flexisel-item {
    float:left;
    margin:0px;
    padding:0px;
    cursor:pointer;
    position:relative;
    line-height:0px;
}
.nbs-flexisel-item img {
    width: 100%;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width:100px;
    max-height:45px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    width: 22px;
    height: 22px; 
    position: absolute;
    cursor: pointer;
    z-index: 100;
    opacity: 0.5;
}

.nbs-flexisel-nav-left {
    left: 10px;
    background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
    right: 5px;
    background: url(../img/button-next.png) no-repeat;
}
